<style>
.shortcodes {font-family:monospace!important}
.shortcodes b {font-weight:bold!important}
.opensource {font-family:sans-serif!important}
.opensource b {font-weight:bold!important}
</style>
<div id="news" class="col s12">
  <div class="container">
    <h4>OPEN SOURCE</h4>

    <span class="opensource">
      <b>FontAwesome</b>&nbsp;v6.6.0<br>
      <b>Lightbox</b>&nbsp;v2.11.4<br>
      <b>Materialize</b>&nbsp;v1.1.0<br>
      <b>Summernote</b>&nbsp;v0.8.18<br>
      <b>ZeroUpload</b>&nbsp;v1.0.0<br>
      <b>jQuery</b>&nbsp;v3.7.1<br>
    </span>

    <h4>SHORTCODE</h4>
    <span class="shortcodes">
      [<b>markdown</b>] / [<b>markdownextra</b>]<br>
      [<b>image</b>&nbsp;&lt;name&gt;]
      [<b>imageleft</b>&nbsp;&lt;name&gt;]
      [<b>imageright</b>&nbsp;&lt;name&gt;]
      [<b>imageresp</b>&nbsp;&lt;name&gt;]
      [<b>gallery</b>&nbsp;&lt;mask&gt;]
      [<b>youtube</b>&nbsp;&lt;id&gt;]
      [<b>soundcloud</b>&nbsp;&lt;id&gt;]
    </span>

  </div>
</div>
