<div id="admin_custom" class="row center black white-text"><a target=_blank rel=nofollow href="/api">🦄&nbsp;<b>REST API</b></a>&nbsp; </div>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {

    if (w.GSC.init) {

      w.GSC.init.push(function () {
        w.GSC.names.push("admin UI - custom");

        // add info block
        var count = 0;
        function addBlock(param, callback) {
          count++;
          var el = "custom_info_" + count;
          $("#admin_custom").append('<div class="valign-wrapper" id="' + el + '" style="display:inline-block;margin-right:1em"><div class="progress" style="width:100px"><div class="indeterminate"></div></div></div> ');
          $.get(param.url + "?" + Date.now(), function (data) {
            data.el = '#' + el;
            data.url = this.url;
            callback(data);
          }).fail(function() {
            $(el).html("<span class=text-red style='cursor:pointer' onclick='location.reload(1);'><b>API&nbsp;ERR</b>&nbsp;🔄</span>&nbsp;");
          });
        }

        // show error info
        function err(data) {
          $(data.el).html("<span class=text-red style='cursor:pointer' onclick='location.reload(1);'><b>ERR&nbsp;" + data.code + "</b>&nbsp;🔄</span>&nbsp;");
        }

        addBlock({url: "/api/v1/seznam/count"}, function (data) {
          if (data.data && data.data.count) {
            $(data.el).html("<span>záznamy:&nbsp;<b><a target=_blank rel=nofollow href='" + data.url + "'>" + data.data.count + "</a></b></span>");
          } else {
            err(data);
          }
        });

        addBlock({url: "/api/v1/seznam/version"}, function (data) {
          if (data.data && data.data.version) {
            $(data.el).html("<span>verze:&nbsp;<b><a target=_blank rel=nofollow href='" + data.url + "'>" + data.data.version.substring(0, 8) + "</a></b></span>");
          } else {
            err(data);
          }
        });

        addBlock({url: "/api/v1/seznam/okresy/all"}, function (data) {
          if (data.data && data.data.count) {
            $(data.el).html("<span>okresy:&nbsp;<b><a target=_blank rel=nofollow href='" + data.url + "'>" + data.data.count + "</a></b></span>");
          } else {
            err(data);
          }
        });

        addBlock({url: "/api/v1/seznam/obce/all"}, function (data) {
          if (data.data && data.data.count) {
            $(data.el).html("<span>obce:&nbsp;<b><a target=_blank rel=nofollow href='" + data.url + "'>" + data.data.count + "</a></b></span>");
          } else {
            err(data);
          }
        });

        addBlock({url: "/api/v1/seznam/urady/all"}, function (data) {
          if (data.data && data.data.count) {
            $(data.el).html("<span>úřady:&nbsp;<b><a target=_blank rel=nofollow href='" + data.url + "'>" + data.data.count + "</a></b></span>");
          } else {
            err(data);
          }
        });

        addBlock({url: "/api/v1/seznam/years"}, function (data) {
          if (data.data && data.data.min && data.data.max) {
            $(data.el).html("<span>ročníky min./max.:&nbsp;<b><a target=_blank rel=nofollow href='" + data.url + "'>" + data.data.min + "/" + data.data.max + "</a></b></span>");
          } else {
            err(data);
          }
        });

        addBlock({url: "/api/v1/seznam/errors"}, function (data) {
          if (data.data) {
            $(data.el).html("<span>💩&nbsp;<b><a target=_blank rel=nofollow href='" + data.url + "'>data errors</a></b></span>");
          } else {
            err(data);
          }
        });

      });
    }

  })(window, document);
</script>
