{{>html_header}}

<div class="container">
  <div class="section">
    <div class="row center">
      <div class="right">
        {{^user.id}}<a href="/login?relogin">🔑 {{ l.a_login }}</a>{{/user.id}}
        {{#user.name}}<b>{{ user.name }}</b>{{/user.name}}
        {{#user.id}}<a href="/logout">🚪 {{ l.a_logout }}</a>{{/user.id}}
      </div>
      {{>title}}
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="{{ l.icon_color_1 }} {{ l.icon_1 }}"></i>
          </h2>
          <h5 class="center">{{ l.gen_1 }}</h5>
          <p class="light">{{ l.gen_2 }}</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="{{ l.icon_color_2 }} {{ l.icon_2 }}"></i>
          </h2>
          <h5 class="center">{{ l.gen_3 }}</h5>
          <p class="light">{{ l.gen_4 }}</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <i class="{{ l.icon_color_3 }} {{ l.icon_3 }}"></i>
          </h2>
          <h5 class="center">{{ l.gen_5 }}</h5>
          <p class="light">{{ l.gen_6 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{>html_footer}}
