{{>html_header}}

<div class="container">
  <div class="section">
    <div class="row">

      <form class="col">

        <div class="row">
          <div class="input-field inline col m6 s12">
            <i class="material-icons prefix">{{ l.input_icon_01 }}</i>
            <input id="{{ l.input_id_01 }}" type="{{ l.input_type_01 }}" data-length="{{ l.input_size_01 }}" class="validate">
            <label for="{{ l.input_id_01 }}">{{ l.input_name_01 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_01 }}</span>
          </div>
          <div class="input-field inline col m6 s12">
            <i class="material-icons prefix">{{ l.input_icon_02 }}</i>
            <input id="{{ l.input_id_02 }}" type="{{ l.input_type_02 }}" data-length="{{ l.input_size_02 }}" class="validate">
            <label for="{{ l.input_id_02 }}">{{ l.input_name_02 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_02 }}</span>
          </div>
        </div>

        <div class="row">
          <div class="input-field inline col m6 s12">
            <i class="material-icons prefix">{{ l.input_icon_03 }}</i>
            <input id="{{ l.input_id_03 }}" type="{{ l.input_type_03 }}" data-length="{{ l.input_size_03 }}" class="validate">
            <label for="{{ l.input_id_03 }}">{{ l.input_name_03 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_03 }}</span>
          </div>
          <div class="input-field inline col m6 s12">
            <i class="material-icons prefix">{{ l.input_icon_04 }}</i>
            <input id="{{ l.input_id_04 }}" type="{{ l.input_type_04 }}" data-length="{{ l.input_size_04 }}" class="validate">
            <label for="{{ l.input_id_04 }}">{{ l.input_name_04 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_04 }}</span>
          </div>
        </div>

        <div class="row">
          <div class="input-field inline col m6 s12">
            <i class="material-icons prefix">{{ l.input_icon_05 }}</i>
            <input id="{{ l.input_id_05 }}" type="{{ l.input_type_05 }}" data-length="{{ l.input_size_05 }}" class="validate">
            <label for="{{ l.input_id_05 }}">{{ l.input_name_05 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_05 }}</span>
          </div>
          <div class="input-field inline col m6 s12">
            <i class="material-icons prefix">{{ l.input_icon_06 }}</i>
            <input id="{{ l.input_id_06 }}" type="{{ l.input_type_06 }}" data-length="{{ l.input_size_06 }}" class="validate">
            <label for="{{ l.input_id_06 }}">{{ l.input_name_06 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_06 }}</span>
          </div>
        </div>

        <div class="row">
          <div class="input-field inline col m4 s6">
            <i class="material-icons prefix">{{ l.input_icon_07 }}</i>
            <input id="{{ l.input_id_07 }}" type="{{ l.input_type_07 }}" data-length="{{ l.input_size_07 }}" class="validate">
            <label for="{{ l.input_id_07 }}">{{ l.input_name_07 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_07 }}</span>
          </div>
          <div class="input-field inline col m4 s6">
            <i class="material-icons prefix">{{ l.input_icon_08 }}</i>
            <input id="{{ l.input_id_08 }}" type="{{ l.input_type_08 }}" data-length="{{ l.input_size_08 }}" class="validate">
            <label for="{{ l.input_id_08 }}">{{ l.input_name_08 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_08 }}</span>
          </div>
          <div class="input-field inline col m4 s6">
            <i class="material-icons prefix">{{ l.input_icon_09 }}</i>
            <input id="{{ l.input_id_09 }}" type="{{ l.input_type_09 }}" data-length="{{ l.input_size_09 }}" class="validate">
            <label for="{{ l.input_id_09 }}">{{ l.input_name_09 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_09 }}</span>
          </div>
          <div class="input-field inline col m4 s6">
            <i class="material-icons prefix">{{ l.input_icon_10 }}</i>
            <input id="{{ l.input_id_10 }}" type="{{ l.input_type_10 }}" data-length="{{ l.input_size_10 }}" class="validate">
            <label for="{{ l.input_id_10 }}">{{ l.input_name_10 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_10 }}</span>
          </div>
          <div class="input-field inline col m4 s6">
            <i class="material-icons prefix">{{ l.input_icon_11 }}</i>
            <input id="{{ l.input_id_11 }}" type="{{ l.input_type_11 }}" data-length="{{ l.input_size_11 }}" class="validate">
            <label for="{{ l.input_id_11 }}">{{ l.input_name_11 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_11 }}</span>
          </div>
          <div class="input-field inline col m4 s6">
            <i class="material-icons prefix">{{ l.input_icon_12 }}</i>
            <input id="{{ l.input_id_12 }}" type="{{ l.input_type_12 }}" data-length="{{ l.input_size_12 }}" class="validate">
            <label for="{{ l.input_id_12 }}">{{ l.input_name_12 }}</label>
            <span class="helper-text" data-error="{{ l.error }}" data-success="{{ l.ok }}">{{ l.input_helper_12 }}</span>
          </div>
          <div class="input-field inline col s12">
            URL matriky
          </div>
        </div>

        <div class="row">
          <div class="input-field inline col m4 s6">
            <button class="btn orange waves-effect waves-light" type="submit" name="action">{{ l.button_create }}
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="input-field inline col m4 s6">
            <button class="btn blue waves-effect waves-light" type="submit" name="action">{{ l.button_create_draft }}
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

{{>html_footer}}
