<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center orange-text">{{ l.title }}{{#ALPHA}} alfa{{/ALPHA}}{{#BETA}} beta{{/BETA}}</h1>
    <div class="row center">
      <h5 class="header col s12 light">{{ l.description }}</h5>
    </div>
    <div class="row center flow-text">
      {{ l.information }}
    </div>
  </div>
</div>
