<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<title>Audit Log</title>
<script nonce="{{ csp_nonce }}">
'use strict';
// tweaks
(function() {
  var externallyFramed = false;
  try {
    externallyFramed = top.location.host != location.host;
  }
  catch(err) {
    externallyFramed = true;
  }
  if(externallyFramed) {
    top.location = location;
  }
})();
!(function(a){function e(){}for(var b="assert clear count debug dir dirxml error exception group groupCollapsed groupEnd info log markTimeline profile profileEnd table time timeEnd timeline timelineEnd timeStamp trace warn".split(" "),c=b.length,d=a.console=a.console||{};c--;)a=b[c],d[a]||(d[a]=e)})(window);
</script>
{{>head_meta}}
{{>head_favicons}}
{{>head_umami}}
<style>
/* Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('materialicons-regular'),
       url(https://cdn.gscloud.cz/webfonts/materialicons-regular.woff2) format('woff2'),
       url(https://cdn.gscloud.cz/webfonts/materialicons-regular.woff) format('woff'),
       url(https://cdn.gscloud.cz/webfonts/materialicons-regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
/* ADMIN LOG */
td,th {padding:5px!important}
th {position:sticky;top:0;color:#fff;background-color:#000;border-left:1px solid #aaa!important;padding-left:5px!important}
.mono {font-family:monospace;}
</style>
<link rel="stylesheet" href="https://cdn.gscloud.cz/tesseract/css/materialize.min.css">
<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/tesseract/js/jquery.min.js"></script>
</head>
<body>

<table class="highlight">
  <thead style="position:sticky;border-bottom:2px solid #ccc!important">
    <tr>
      <th></th>
      <th class=center>DATE</th>
      <th class=center width=15%>USER</th>
      <th>IP&nbsp;ADDRESS</th>
      <th width=75%>MESSAGE</th>
    </tr>
  </thead>
  <tbody>
  {{#content}}{{.}}{{/content}}
  </tbody>
</table>

</body>
</html>